/*UTILS*/

.right{
    float: right;
}

.left{
    float: left;
}


/*============
FOOTER
=============*/
.page-footer{
    position: relative;
    padding: 64px 0;
}

.footer-second-row{
    margin-top: 78px;
}

.footer-spacing{
    margin-top: 31px;
}

.social-spacing{
    margin-left: 33px;
}

.submit-border{
    border: solid #a0a0a0 2px;
    margin-bottom: 125px;
}

.footer-title{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.304em;
}

.footer-body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.327em;
}

.inline-block{
    display: inline-block;
}

.border-padding{
    padding: 5px;
}

.submit-input{
    height: 38px;
    padding: 15px 25px;
    width: 90%;
}

/*MP*/

.map-section{
    background-color: #424040;
    padding: 33px;
}

.map-svg{
    width: 570px;
    display: block;
    margin: 0 auto;

}

th{
    text-align: left;
}